*{
    margin: 0;
    padding: 0;
}
/* =================
common css start
-================== */
.container{
    width: 1140px;
    margin: 0 auto;
}
.box{
    display: flex;
    
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
/* =================
common css end
-================== */

/* ==================
navber part start

==================*/
nav{
    background: red;
    padding: 30px 0px;
}
.ul{
    display: flex;
    column-gap: 47px;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.logo_part{
    width: 46%;
}
.menu_part{
    width: 44%;
}
.button_part{
    width: 10%;
}
.button_part button{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 14px 30px;
    border: 2px solid white;
    background: transparent;
    
}
nav .box{
    align-items: center;
}
/* ==================
navber part end

==================*/
/* ==================
banner part start6

==================*/
.banner{
    width: 100%;
    background-image: url("./images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner_part{
    padding-top: 260px;
    padding-bottom: 340px;

}

.banner_part h2{
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: white;
    width: 842px;
    padding-bottom: 32px;
   

    

}
.banner_part button{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 14px 40px;
    background: red;
    border: 0;
    
   

    

}
/* ==================
banner part end

==================*/
/* ==================
country part start

==================*/
.countriy{
    padding-top: 70px;
    padding-bottom: 100px;
    
}
.countriy .box{
    align-items: center;
    
}
.countriy .left{
    width: 40%;
    

}
.countriy .left h3{
    font-size: 48px;
    font-weight: 700;
    color: black;
    font-family: "Poppins", sans-serif;
    width: 290px;

}
.countriy .rigth{
    width: 60%;
   
}
.countriy .rigth p{
    font-size: 16px;
    font-weight: 600;
    color: #6C6C6C;
    font-family: "Poppins", sans-serif;
    width: 651px;
   

}

.countriy .box2{
    justify-content: space-between;
    padding-top: 100px;
}

/* ==================
country part end

==================*/
/* ==================
service part start

==================*/
.servicer{
    padding-top: 28px;
}

.servicer .left {
    width: 50%;
    
    
}
.servicer .left div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
   
   
   
    
    
}


.servicer .left h3{
    font-size: 64px;
    font-weight: 700;
    color: black;
    font-family: "Poppins", sans-serif;
}
.servicer .left p{
    font-size: 16px;
    font-weight: 600;
    color: #6C6C6C;
    font-family: "Poppins", sans-serif;
    width: 405px;
}

.servicer .right h3{
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    padding-bottom: 20px;
    

}
.servicer .right button{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 14px 30px;
    border: 2px solid white;
    background: red;
    border: 0;
    

}

.servicer .box{
    flex-wrap: wrap;
}

.servicer .right {
    width: 50%;
    
}

.servicer .right_image{
    background-image: url("./images/serviceImg1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
   
}
.servicer .right .overly{
    width: 100%;
    height: 100%;
    background: rgba(45, 40, 40, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* ==================
service part end

==================*/
/* ==================
abolut part start

==================*/

.about{
    background: #F0F0F0;
    padding: 136px 0;
}
.about .about_image{
   background-image: url('./images/aboutImage.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

   width: 100%;
   height: 360px;
   position: relative;
   overflow: hidden;
  
   

}
.about .about_image .overly{
    width: 40%;
    height: 100%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -40%;
    top: 0;
    transition: .3s;
}
.about .about_image .overly h5{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", sans-serif;
    width: 262px;
}
.about .about_image button {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 14px 30px;
    border: 2px solid white;
    background: red;
    border: 0;
    
    position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   transition: 0.7s;
   
}
.about .about_image:hover .overly{
    left: 0;

}

.about .about_image:hover button{
    left: 75%;
}


/* ==================
abolut part end

==================*/
/* ==================
pomotion part start

==================*/

.pomotion{
    background: white;
    padding: 170px 0;
}

.pomotion .box{
    justify-content: space-between;
}
/* ==================
pomotion part end

==================*/
/* ==================
Cart part start

==================*/
.cart-section{
    background: #F0F0F0;
    padding-top: 110px;
    padding-bottom: 160px;
}

.cart-section .box{
    justify-content: space-between;

}
.cart{
    width: 340px;
    height: 400px;
    position: relative;
    overflow: hidden;
   
}
.cart .overly{
    width: 100%;
    height: 100%;
    background: rgba(125, 114, 114,0.6);
    position: absolute;
    top: -100%;
    left: 0;
    padding: 75px 40px;
    box-sizing: border-box;
    transition: .6s;

   
}
.cart:hover .overly{
    top: 0;
}
.cart-section .overly p{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: white;
    width: 249px;

}
.cart-section .overly a{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background: rgba(255, 255, 255,0.5);
    padding: 10px 20px;
    margin-top: 52px;
    display: inline-block;
    

}
.cart-section h6{
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding-top: 30px;

}
.cart-section h6 i{
    padding-left: 5px;
    

}
/* ==================
Cart part end

==================*/
/* ==================
contact part start

==================*/
.contact img{
    
    width: 100%;
    margin: 0 auto;
}
.contact .contact-main{
    background: red;
    padding: 46px 0px;
}
.contact .contact-main h4{
  
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.contact .contact-main a{
  
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background: transparent;
    border: 2px solid #fff;
    padding: 10px 20px;
    
    display: inline-block;
}
.contact .contact-main .box{
  
    align-items: center;
    justify-content: space-between;
}
/* ==================
contact part end

==================*/
/* ==================
Footer part start

==================*/

.footer{
    padding-top: 150px;
    padding-bottom: 250px;
    background: rgb(0, 0, 0);
}
   .footer .one{
    width: 30%;
    
   }
   .footer .one ul{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    
   }
   .footer .one ul li{
    color: #fff;
    
   }
   .footer .one ul li i{
    margin-right: 5px;
    
   }
   .footer .two{
    width: 20%;
    
   }
   .footer .two ul{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    
   }
   .footer .three ul{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    
   }
   .footer .four ul{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    
   }
   .footer .two ul li{
    color: #fff;
    
   }
   .footer .three{
    width: 20%;
    
   }
   .footer .three ul li{
    color: #fff;
    
   }
   .footer .four ul li{
    color: #fff;
    
   }
   .footer .four{
    width: 30%;
    
   }

   .icon{
    color: red;
    display: flex;
    column-gap: 40px;
    font-size: 20px;
    padding-top: 34px;
   }

   p{

    
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: white;
   }
   .Copyright{

    padding: 30px;
    background: #766b6b;
    
   }
/* ==================
Footer part end

==================*/
